@import url('//fonts.googleapis.com/css?family=Raleway:400,300,600');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* Basic body and font styles */
body {
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Raleway', sans-serif;
  color: #2c3e50;
  font-weight: 600;
}

li {
  font-family: 'Raleway', sans-serif;
}

a {
  color: #0366d6;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #024ea4;
  text-decoration: underline;
}

small {
  color: #666;
  font-size: 90%;
}

/* Container */
.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Grid system */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col-sm-3, .col-sm-9, .col-sm-12 {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Image */
.img-circle {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  padding: 4px;
}

/* Profile Name and Title */
.profile-name {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 1.4em;
  color: #2c3e50;
}

.profile-title {
  display: block;
  margin-bottom: 10px;
  line-height: 1.4;
}

.publist {
    padding-left: 20px;
    list-style-type: disc;
}

.publist li {
  text-align: justify;
  margin-bottom:  5px;
}

.pubentry {
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
}

.spacer {
  padding-top: 20px;
}

.spacersmall {
  padding-top: 10px;
}

.h4 {
  padding-top: 20px;
}

.anchor {
  display: block;
  visibility: hidden;
  position: relative;
  top: -10px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
