<!DOCTYPE html>
<html lang="en" ng-app="publications">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Publications from Mohit Chamania">
    <meta name="author" content="Mohit Chamania">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mohit Chamania - Publications</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-custom-theme.css">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" >
    <!-- <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">  -->
    <script src="./js/angular.min.js"></script>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/publications.js"></script>
    <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
  </head>
  <body ng-controller="listPubs">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Bootstrap theme</a> -->
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Back to Home</a></li>
            <li><a href="#journals">Journals</a></li>
            <li><a href="#conferences">Conferences</a></li>
            <li><a href="#invited">Invited</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="content">
      <!-- Publications -->
      <div class="container" ng-repeat="e in entryClasses">
        <div class="row">
          <div class="col-sm-12">
            <h4><a class="anchor" name="{{e.shortentry}}"></a>{{e.title}}</h4>
            <ol class="publist">
              <li class="pubentry" ng-repeat="j in confData[e.category]">
                <b ng-if='j.hasOwnProperty("comment")'>{{j.comment}} </b>
                {{j.authors}}, <i>{{j.title}},</i> {{j.category == 'journal' ? j.journal : j.conf}}, {{j.category == 'journal' ? j.pos + ', ' + j.year : j.year}},
                 <a href = "{{j.doi}}" ng-if ='j.hasOwnProperty("doi")' target = "_blank">[doi]</a>
                 <a href = "./citations/{{j.bib}}" ng-if ='j.hasOwnProperty("bib")' target = "_blank">[bib]</a>
                 <a href = "./pdf/{{j.pdf}}" ng-if ='j.hasOwnProperty("pdf")' target = "_blank">[pdf]</a>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
